/*
* Custom PHP Library style
*/

.title-image {
	background-image: url('../img/background.jpg');
}

.main-button {
	cursor: pointer;
}

.main-button:hover {
	background-color: #08A5CD;
}

/**
* Overwrite for style.css
*/
a {
  color: #08A5CD;
}

.button {
  border: solid 2px #08A5CD;
}

.button:visited {
  background: #08A5CD;
}

a.big.button {
  border: solid 3px #08A5CD;
}

a.big.button,
a.big.button:visited {
  color: #08A5CD;
}

a.big.button:hover {
  background: #08A5CD;
}

.menu a,
.menu a:visited {
  color: #08A5CD;
}

.menu a.active:after {
  background: #08A5CD;
}

.content ul > li:before {
  border: solid 1px #08A5CD;
}

.content i,
.content em {
  color: #08A5CD;
}

.content blockquote {
  color: #08A5CD;
}

.content h4,
.content h5,
.content .small-heading,
body:not(.big-h3) .content h3 {
  color: #08A5CD;
}

.button.light,
.button.light:visited {
  color: #08A5CD;
  border-color: #08A5CD;
}
.button.light:hover {
  border-color: #08A5CD;
  background: #08A5CD;
}
.content .button + em {
  color: #08A5CD;
}

.header h1,
.header h1 a,
.header h1 a:visited {
  color: #08A5CD;
}

.header li a {
  color: #08A5CD;
}

.menu a.level-1,
.menu a.level-1:visited {
  color: #08A5CD;
}